@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
font-family: Roboto;
}

.navbar-side {
float:left;
width:17%;
height:100%;
overflow: hidden;
background-color: #6382AD;
position: fixed;
position: -webkit-sticky;
top: 0;
}
.container {
position: relative;
width: 100%;
}

.row-full{
text-decoration:none;
display:block;
color:black;
text-align:center;
width:100%;
padding-top:20px;
margin:0;

}
.profile-img{
width:100%;
padding:1rem;
border-radius:20px;
}
.container:hover .profile-img{
opacity: 0.3;
}
.middle {
color:white;
transition: .5s ease;
opacity: 0;
position: absolute;
top: 30%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}
.container:hover .middle {
opacity: 1;
}

.row-full:hover {
color:orange;
weight:2;

}

.main-container{
float:right;
display:block;
height:100%;
width:83%;
background-color:#FAF8F1;
color:white;
}

.expand{
width:80%;
}
.card-container{
display:block;
}
div .architecture-container {
display:none;
width:100%;
}

img .architecture-img {

}

.card-box{
display:block;
float:left;
margin:40px;
}


.footer-distributed{
background: #444;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
font: bold 16px sans-serif;
text-align: left;
padding: 50px 60px 40px;
overflow: hidden;
}

section {
width: 100%;
display: inline-block;
background: #ccc;
height: 60vh;
text-align: center;
font-size: 22px;
font-weight: 700;
text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left{
float: left;
}

/* The company logo */

.footer-distributed h3{
color:  #ffffff;
font: normal 36px 'Roboto', cursive;
margin: 0 0 10px;
}

.footer-distributed h3 span{
color:  orange;
/*5383d3;*/
}

/* Footer links */

.footer-distributed .footer-links{
color:  #ffffff;
margin: 0 0 10px;
padding: 0;
}

.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  inherit;
}

.footer-distributed .footer-company-name{
color:  #8f9296;
font-size: 14px;
font-weight: normal;
margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
margin-top: 40px;
}

.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  #33383b;
border-radius: 2px;

font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;

margin-right: 3px;
margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
float: right;
}

.footer-distributed .footer-right p{
display: inline-block;
vertical-align: top;
margin: 15px 42px 0 0;
color: #ffffff;
}

/* The contact form */

.footer-distributed form{
display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
display: block;
border-radius: 3px;
box-sizing: border-box;
background-color:  #1f2022;
box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
border: none;
resize: none;

font: inherit;
font-size: 14px;
font-weight: normal;
color:  #d1d2d2;

width: 400px;
padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
color:  #5c666b;
opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
color:  #5c666b;
}


.footer-distributed form input{
height: 55px;
margin-bottom: 15px;
}

.footer-distributed form textarea{
height: 100px;
margin-bottom: 20px;
}

.footer-distributed form button{
border-radius: 3px;
background-color:  #33383b;
color: #ffffff;
border: 0;
padding: 15px 50px;
font-weight: bold;
float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

.footer-distributed {
    font: bold 14px sans-serif;
}

.footer-distributed .footer-company-name{
    font-size: 12px;
}

.footer-distributed form input,
.footer-distributed form textarea{
    width: 250px;
}

.footer-distributed form button{
    padding: 10px 35px;
}

}

@media (max-width: 800px) {

.footer-distributed{
    padding: 30px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
}

.footer-distributed .footer-left{
    margin-bottom: 40px;
}

.footer-distributed form{
    margin-top: 30px;
}

.footer-distributed form{
    display: block;
}

.footer-distributed form button{
    float: none;
}
}
.card-text{
color:black;
}


/* The Modal (background) */
.modal {
color:black;
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 55%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.btn-download {
margin-left:1rem;
width:15%;
background-color: DodgerBlue;
color: white;
cursor: pointer;
}

/* Darker background on mouse-over */
.btn-download:hover {
background-color: RoyalBlue;
}

.zoom{
transition:0.3s;
}
.zoom:hover {
transform: scale(1.05);
box-shadow: 2px 4px #C4C4C4;
}

.fade-footer{
animation: fadeIn 5s forwards;
}
@keyframes fadeIn {
0% { opacity: 0; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}

.asd{
background-color:grey;
}

.hide{
position: absolute;
display:none;
}
.modal-content #modal-link{
    color:orange;
    text-align:right;
}
.modal-content #modal-description{
    font-size:1.3rem;
}
